@import '../../../../styles/variables.scss';

.listChips {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 32px;

	.listChips-items {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;
	}
}
