@mixin fade {
    opacity: 1;
    transition: opacity ease 0.2;

    &:hover {
        opacity: 0.8;
    }
}

@mixin box-shadow {
    box-shadow: 0px 0px 10px 0px #BDBDBD;
    -webkit-box-shadow: 0px 0px 10px 0px #BDBDBD; 
}