@import './variables.scss';

@mixin fade {
	opacity: 1;
	transition: opacity ease 0.2;

	&:hover {
		opacity: 0.8;
	}
}

@mixin box-shadow {
	box-shadow: 0px 0px 10px 0px lightgray;
	-webkit-box-shadow: 0px 0px 10px 0px lightgray;
}

@mixin root-container {
	min-height: calc(100vh - 64px);
}

@mixin text-link($color) {
	position: relative;
	opacity: 0.7;
	color: $color;
	cursor: pointer;
	transition: opacity 0.2s ease-in;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 1px;
		background-color: $color;
		transition: width 0.2s ease-in;
	}

	&:hover {
		opacity: 1;
		&:after {
			width: 100%;
		}
	}

	&.active {
		opacity: 1;

		&:after {
			width: 100%;
		}
	}
}

@mixin fade {
	animation: fade 800ms ease;
}

@keyframes fade {
	0% {
		opacity: 0.1;
	}
	100% {
		opacity: 1;
	}
}
