@import '../../../styles/mixins.scss';

.dashboard {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 64px;
	@include fade();

	.dashboard-resumes-list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 72px;
	}
}
