@import '../../../styles/mixins.scss';

.resume-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 24px;
	@include fade;

	.resume-form-breadcrumbs-container {
		align-self: flex-start;
		margin-bottom: 40px;
	}

	.resume-form--section {
		display: flex;
		width: 100%;

		.resume-form-container {
			min-width: 600px;
			height: 100%;
			display: flex;
			flex-direction: column;
			gap: 24px;
			padding: 32px;

			.resume-form-button {
				max-width: 182px;
				margin: 32px auto 0;
			}
		}
	}
}
