@import '../../../../styles/variables.scss';
@import '../../../../styles/mixins.scss';

.contact-form {
	display: flex;
	justify-content: center;
	padding: 32px;

	.form {
		width: 600px;
		height: 570px;
		padding: 0 32px 32px;

		.form-button {
			max-width: 182px;
			margin: 32px auto 0;
		}
	}
}
