@import '../../../../styles/mixins.scss';
@import '../../../../styles//variables.scss';

.resume-card {
	max-width: 224px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 16px;
	cursor: pointer;
	background-color: whitesmoke;
	@include box-shadow;

	&:hover {
		.resume-card-icon {
			opacity: 1;
		}
	}

	.resume-card-action-icons {
		width: 260px;
		position: absolute;
		top: -20px;
		display: flex;
		justify-content: space-between;

		.action-icon {
			margin: 0 4px;
			font-size: 1.7em;
			color: $primary;
		}
	}

	.resume-card-icon {
		width: 124px;
		height: 140px;
		opacity: 0.7;
		color: $grey;
		transition: opacity ease 0.3s;
	}
}
