@import '../../../../styles/mixins.scss';

.resumeView {
	display: flex;
	align-items: flex-start;
	gap: 128px;
	padding: 16px;

	.resumeView-pdf {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 32px;

		.resumeView-pdf--actions {
			display: flex;
			align-items: center;
			gap: 32px;
		}
	}
}
