@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';

.bottom-card {
	width: 100%;
	height: 76px;
	position: relative;
	display: flex;
	justify-content: center;
	padding: 24px 8px;
	color: whitesmoke;
	border-radius: 0 0 3px 3px;
	@include box-shadow;
	background-color: $primary;

	.text {
		display: block;
		text-align: center;
		font-size: 18px;
		font-weight: 500;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
}
