@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.connexion {
    display: flex;
    justify-content: center;
    margin-top: 64px;

    .switchSections {
        .section {
            height: 375px;
            width: 350px;
            justify-content: space-between;

            .section-label {
                font-size: 28px;
            }

            input {
                label {
                    color: $primary;
                    font-size: 16px;
                }
            }

            &.isOnFocused {
                .section-label {
                    color: $primary;
                }
            }
        }
    }
}

.form {
    display: flex;
    flex-direction: column;

    .form-button {
        margin-top: 64px;
    }
}