@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.connexion {
	display: flex;
	justify-content: center;
	margin-top: 64px;

	.switchSections {
		.section {
			padding: 24px;

			.section-content {
				.section-label {
					font-size: 28px;
				}
			}

			&.isOnFocused {
				.section-label {
					color: $primary;
				}
			}
		}
	}
}
