@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.skeleton {
	display: flex;

	.skeleton-button {
		margin: auto 32px 16px;
		width: 64px;

		.button-nav {
			height: 60px;
			align-self: flex-end;
			border-radius: 50%;
		}
	}

	.skeleton-container {
		border-radius: 3px;
		@include box-shadow;

		.header {
			display: flex;
			justify-content: center;
			padding: 42px;
			background-color: $primary;
			color: whitesmoke;
			text-transform: capitalize;
			border-radius: inherit;
			border-bottom-left-radius: unset;
			border-bottom-right-radius: unset;
		}
	}
}
