@import '../../../../styles/variables.scss';

.inputFile {
	display: flex;
	flex-direction: column;
	gap: 8px;

	.inputFile--label {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		padding: 8px;
		color: $primary;
		font-weight: 500;
		border: dashed 1px;
		border-color: $primary-light;
		border-radius: 15px;
		cursor: pointer;
		opacity: 0.8;
		transition: all ease 0.2s;

		&:hover {
			opacity: 1;
			border: solid 1px;
		}
	}

	.inputFile--helperText {
		width: 100%;
		text-align: center;
		color: $text-black;
	}
}
