@import '../../../../styles/variables.scss';

.inputFile {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 8px;
	color: $primary;
	font-weight: 500;
	border: dashed 1px;
	border-color: $primary-light;
	border-radius: 15px;
	cursor: pointer;
	opacity: 0.8;
	transition: all ease 0.2s;

	&:hover {
		opacity: 1;
		border: solid 1px;
	}
}
